<h1 class="h3 mb-3 text-center">Please sign in</h1>
<div class="alert alert-danger" role="alert" *ngIf="failierMsg">
  {{ failierMsg }}
</div>
<form [formGroup]="form" (ngSubmit)="onSubmit()" *ngIf="form.controls as f">
  <div class="form-group">
    <label for="email">Email</label>
    <input
      type="text"
      formControlName="email"
      class="form-control"
      [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
    />
    <div *ngIf="submitted && f.email.errors as e" class="invalid-feedback">
      <div *ngIf="e.required">Email is required</div>
      <div *ngIf="e.email">Invalid email</div>
    </div>
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input
      type="password"
      formControlName="password"
      class="form-control"
      [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
    />
    <div *ngIf="submitted && f.password.errors as e" class="invalid-feedback">
      <div *ngIf="e.required">Password is required</div>
      <div *ngIf="e.minlength">Password must be at least 3 characters</div>
    </div>
  </div>
  <div class="form-group">
    <button class="btn btn-primary">Login</button>
    <a routerLink="/register" class="btn btn-link">Register</a>
  </div>
</form>
